{% extends 'base/base.html' %}
{% block titulo %}
    Registrar
{% endblock titulo %}
{% block contenido %}
<main class="container">
    <a href="{% url 'index' %}"> Volver al inicio</a>
    <form action="">
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-12">
                    <label for="Rut">Rut</label><input type="text" name="Rut" class="form-control">
                </div>

                <div class="col-12">
                    <label for="Username">Nombre de usuario</label><input type="text" name="Username" class="form-control">
                </div>

                <div class="col-6">
                    <label for="Primer nombre">Primer nombre</label><input type="text" name="PrimerNombre" class="form-control">
                </div>

                <div class="col-6">
                    <label for="Segundo nombre">Segundo nombre</label><input type="text" name="SegundoNombre" class="form-control">
                </div>

                <div class="col-6">
                    <label for="ApellidoPaterno">Apellido paterno</label><input type="text" name="ApellidoPaterno" class="form-control">
                </div>

                <div class="col-6">
                    <label for="ApellidoMaterno">Apellido Materno</label><input type="text" name="ApellidoMaterno" class="form-control">
                </div>

                <div class="col-12">
                    <label for="correo">Correo</label><input type="text" name="correo" class="form-control">
                </div>

                <div class="col-6">
                    <label for="contraseña">Contraseña</label><input type="text" name="contraseña" class="form-control">
                </div>

                <div class="col-6">
                    <label for="telefono">Telefono</label><input type="text" name="telefono" class="form-control">
                </div>
                
                <div class="col-12">
                    <label for="foto">Foto</label><input type="file" name="foto" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </form>
</main>
{% endblock contenido %}
