.nav{
    display: flex;
    justify-content: space-between;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0px !important;
    background-color: #2e3338;
    border-bottom: 1px solid #414850;
}
.navbar-item{
    display: flex;
    justify-content: center;
    /* border: solid 1px green; */
}
.navbar-item[name="user-nav"]{
    align-items: center;
    justify-content: end;
}
.navbar-item[name="search-input"]{
    align-items: center;
}
.navbar-item[name="logo-container"]{
    justify-content: start;
    align-items: center;
}

img[name="logo"]{
    max-width: 150px;
    object-fit: contain;
    max-height: auto;
}

.navbar {
    /* border: solid 1px rgb(128, 126, 0); */
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}
.form-control#search, .form-control#search:focus {
    background-color: #565a5c;
    padding: 6px 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    box-shadow: none !important;
    color: white;

}
#search::placeholder{
    color: rgb(129, 129, 129);
}
#search::-webkit-search-cancel-button {
    display: none;
    border: none;
    outline: none;
}
.search-logo{
    padding: 6px 10px;
    background-color: #565a5c;
    /* border: rgb(255, 68, 183) solid 1px; */
    border-radius: 10px 0px 0px 10px;
}
button[name="mi-mazo"]{
    background-color: #565a5c;
    color: #888f92;
    border: none;
    max-height: 40px;
    padding: 0px 10px;
    max-height: 30px;
}
button[name="mi-mazo"]:hover{
    background-color: #565a5c;
    color: white;
    border: none;
}
button[name="mi-mazo"]:active{
    background-color: #444749 !important;
}
img[name="mi-mazo"]:hover{
    color: white;
}
button[name="cuenta-icon"], button[name="cuenta-icon"]:active, button[name="cuenta-icon"]:focus{
    background-color: transparent !important;
    border: none !important;

}

@media (max-width: 785px) {
    nav[nav-type="Escritorio"]{
        display: none;
    }
}