{% extends 'base/base.html' %}
{% block titulo %}Index{%endblock titulo%}
{% load static %}
{% block contenido %}
<header>
  {% include 'base/navbar_base.html' %}
</header>
<main class="container">
  <section class="row">
    {% include 'base/side_nav.html' %}
    <section class="col-8 offset-3 content">
      <h5 class="color-text-dark">Inicio</h5>
      <form action="">
        <section class="publicacion">
          <input type="text" class="w-100 h-100 publicacion-input" placeholder="¿Qué quieres decir?">
          <div class="publicacion-misc">
              #
          </div>
        </section>
      </form>
    </section>
    <section class="col chat">
      <a name="Chat" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Chat
      </a>
      <div name="Chat" class="collapse" id="collapseExample">
        <div class="card card-body dark">
          *Chat *
        </div>
      </div>
    </section>
  </section>
</main>
{% endblock contenido %}