{% load static %}
<nav class="navbar" nav-type="Escritorio">
    <ul class="nav row w-100">
        <li class="navbar-item col-3" name="logo-container">
            <a href="" ><img name="logo" src="{% static 'img/arcturian-logo.png' %}" alt=""></a>
        </li>
        <li class="navbar-item col-3" name="search-input">
            <label for="search" class="search-logo"><img src="{% static 'svg/search.svg' %}" alt=""></label><input name="search" type="search" class="form-control" id="search" placeholder="Buscar" autocomplete="off">
        </li>
        <li class="navbar-item col-3" name="user-nav">
            <a name="mi-mazo" class="btn btn-primary" href="{% url 'mazo' %}"><img src="{% static 'svg/cards.svg' %}" alt=""> Mi mazo</a>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.first_name}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Salir</a></li>
                </ul>
              </div>
            {% else %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuenta
                </button>
                <ul class="dropdown-menu">
                    <li><a name="cuenta-icon" href="{% url 'login' %}" class="dropdown-item">Ingresar</a></li>
                    <li><a name="cuenta-icon" href="{% url 'crear_cuenta' %}" class="dropdown-item">Registrarse</a></li>
                </ul>
              </div>
                
            {% endif %}
        </li>
    </ul>
</nav>